<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rgrc.kipmy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_transp"
        android:label="@string/app_name"
        android:theme="@style/Theme.Splash">

        <!-- Activity Principal -->
        <activity
            android:name=".ListaAnotacoesActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Diario">

        </activity>

        <!-- Splash screen -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".FormularioActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Diario"/>

    </application>

</manifest>